// # config: sizes, colors and fonts

// Max width of the slice ( the max background size exceeding the content size )
$sliceWidth  : 1400px;
// Used on browser not supporting mediaqueries
$baseWidth : 990px;

// Max size of the page
$max        : 1200;
$maxWidth   : $max * 1px;
$pagePadding: 30;

// Gutter width for the grid system
$gutter     : 30px;

// # Colors
$white          : #FFFFFF;
$grey           : #444;
$grey2          : #ededed;
$black          : #333;

$red            : #BC2422;
$orange         : #D58F26;

$blue           : #1D7AA4;

$outlineBlue    : #aad4ff;
$errorRed       : #e04831;

// # Fonts
$font : Arial, sans-serif;
$icon: 'FontAwesome';

// # Fonts weight
$light : 300;
$regular : 400;
$medium : 500;
$bold : 700;